{{> head}}
    {{> navbar }}
    <div class="jumbotron row">
        <div class="col-8">
            <h1 class="display-4">Pacman</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/pacman.png" alt="" class="img-thumbnail">
        </div>
    </div>
{{> footer }}